.form-container {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.form {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
}

.register-form {
    transform: translateX(100%);
}

.form-container.show-register .register-form {
    transform: translateX(0%);
}

.form-container.show-register .login-form {
    transform: translateX(-100%);
}

.form-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.form-content button {
    margin-top: 20px;
}